<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA_RENDER</title>  
</head>
<body>
    <CENTER>
        <h1>this is by using jinja operational tags</h1>
    
    {% if a > b %}
        {% if a > c %}
        <h1>a is bigger than b&c</h1>
        {% else %}
        <h1>c is bigger than a&c</h1>
        {% endif %}


    {% else %}
        {% if b > c %}
        <h1>b is bigger than a&c </h1>
        {% else %}
        <h1>c is bigger than b&c</h1>
        {% endif %}
    {% endif %}
    </CENTER>
    
    

</body>
</html>